<h1>Sign Up</h1>
<%= form_for current_user do |f| %>
  <% if current_user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in current_user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :num_reviews %>
    <%= f.text_field :num_reviews %>
  </div>
  <div class="field">
    <%= f.label :about_me %>
    <%= f.text_field :about_me %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>
