<main>
    <h1><%= @user.user_name %></h1>
    <%= link_to "https://goo.gl/QirYt5" do %>
      <%= gravatar_image_tag(current_user.email, :alt => @user.user_name, width: 10) %><br>
      <span><small>Change Gravatar</small></span>
    <% end %>
    <br>
    <br>
    <p><%= "Number of Reviews: #{@user.num_reviews}" %></p>
    <p><%= "About Me: #{@user.about_me}" %></p>
    <p>Reviews:</p>
    <% @user.reviews.each do |review|%>
        <%= review.restaurant.rstrnt_name %>
        <br>
        <%= review.food_rating_icons %>
        <br>
        <%= review.service_rating_icons %>
        <br>
        <%= review.ambiance_rating_icons %>
        <br>
        <%= review.review_content %>
    <% end %>
    <br>
    <%= link_to "Edit", edit_user_path %>
</main>
