<h1>EDIT REVIEW</h1>

  <%= form_for([@restaurant, @review]) do |f| %>
    <div class="field">
      <%= f.label "Food Rating" %>
      <%= f.text_field :food_rating %>
    </div>
    <div class="field">
      <%= f.label "Service Rating" %>
      <%= f.text_field :service_rating %>
    </div>
    <div class="field">
      <%= f.label "Ambiance Rating" %>
      <%= f.text_field :ambiance_rating %>
    </div>
    <div class="field">
      <%= f.label "Comment" %>
      <%= f.text_area :review_content %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
