<!DOCTYPE html>
<html>
<head>
  <title>UviewApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <ul class="nav nav-pills">
    <li role="presentation" class="logo"><a href="/">U * V I E W</a></li>
    <% if current_user %>
        <li role="presentation" class="navbar-text navbar-right">
        <%= link_to 'Logout', session_path('dummy'), method: :delete %>
        </li>
        <li role="presentation" class="navbar-text navbar-right">
        <%= link_to current_user.user_name, current_user %>
        </li>
    <% else %>
        <li role="presentation" class="navbar-text navbar-right"><%= link_to 'Sign Up', new_user_path %></li>
        <li role="presentation" class="navbar-text navbar-right">
        <%= link_to 'Login', login_path %>
        </li>
    <% end %>
    </li>
  </ul>

  <%= yield %>
</body>
</html>
